each event in events
	a.event_item(href='/events/' + (event.sym ? event.sym : event._short_id))
		.event_cover
			if get_locale(event.marker, locale) !== ''
				.cover_marker= get_locale(event.marker, locale)
			if event.poster
				img.cover_image(src=event.poster)
			else
				.cover_title= get_locale(event.title, locale)
			if event.schedule.options
				.cover_buy.buy_open(data-src=event.schedule.link, class=event.schedule.options)= event.schedule.free == true ? __('Регистрация') : __('Купить билет')
		.event_schedule
			.schedule_date=moment(event.schedule.date).format('DD.MM (HH:mm)')
			.schedule_place= event.schedule.place.i18n.title.get(locale)
		.event_program=event.program.i18n.title.get(locale)
		.event_title= get_locale(event.title, locale)

