extends layout

block header_meta
	- var content_title= 'MIEFF | ' + __('О Фестивале')
	- var content_description= ''

block header_include
	//- - var include_libs_css = []
	- var include_css = ['about.css']
	//- - var include_libs_js = []
	- var include_js = ['about.js']


block content
	.about_main_title= __('О Фестивале')

	.about_body
		img.about_logo(src='/stuff/mieff/logo/main.svg')
		.about_description!= about

	if members && members.length > 0
		.about_team
			.team_title= __('Команда')
			.team_members: .members_inner
				each member in members
					a.member_item(href='/members/' + member._short_id)
						.member_photo(style='background-image: url(' + member.photo + ')')
						.member_title= member.i18n.name.get(locale)
						.member_roles
							each role in member.roles
								.member_role=__n(static_types.members_roles[role][member.sex], member.plurals ? 5 : 1)

	if programs && programs.length > 0
		.about_jury
			.jury_title= __('Жюри')
			.jury_programs
				each program in programs
					if program.members && program.members.length > 0
						.program_item
							.program_title= program.i18n.title.get(locale)
							.program_members: .members_inner
								each member in program.members
									a.member_item(href='/members/' + member._short_id)
										.member_photo(style='background-image: url(' + member.photo + ')')
										.member_title= member.i18n.name.get(locale)