extends layout

block header_meta
	- var content_title= 'MIEFF | Open call'
	- var content_description= ''
	- var content_images = ['/stuff/mieff/og.png']

block header_include
	- var include_css = ['application.css']
	//- - var include_libs_js = []
	- var include_js = ['application.js']

block content
	.application_main_title= 'Open call'

	.application_intro_title= __('Требования к участникам')

	.application_intro: .intro_inner!= intro

	.application_forms
		form.main(action="", method="post", enctype="multipart/form-data")

			input(type='hidden', name='type', value='opencall')


			.form_section= __('Раздел') + ' I'


			.form_title!= __('Имя фамилия')
			input.form_name(type='hidden', name='text[0][name]', value='Имя фамилия')
			input.form_value(type='text', name='text[0][value]')

			.form_title!= __('Дата рождения')
			input.form_name(type='hidden', name='text[1][name]', value='Дата рождения')
			input.form_value(type='text', name='text[1][value]')

			.form_title!= __('Email')
			input.form_name(type='hidden', name='text[2][name]', value='Email')
			input.form_value(type='text', name='text[2][value]')

			.form_title!= __('Телефон')
			input.form_name(type='hidden', name='text[3][name]', value='Телефон')
			input.form_value(type='text', name='text[3][value]')

			.form_title!= __('Телеграм <div>(если есть)</div>')
			input.form_name(type='hidden', name='text[4][name]', value='Телеграм')
			input.form_value(type='text', name='text[4][value]')

			.form_title!= __('Город проживания')
			input.form_name(type='hidden', name='text[5][name]', value='Город проживания')
			input.form_value(type='text', name='text[5][value]')

			.form_title!= __('Образование <div>(указать год выпуска)</div>')
			input.form_name(type='hidden', name='text[6][name]', value='Образование')
			input.form_value(type='text', name='text[6][value]')

			.form_title!= __('Опыт работы')
			input.form_name(type='hidden', name='text[7][name]', value='Опыт работы')
			input.form_value(type='text', name='text[7][value]')

			.form_title!= __('Владение иностранными языками <div>(с указанием уровня)</div>')
			input.form_name(type='hidden', name='text[8][name]', value='Владение иностранными языками')
			input.form_value(type='text', name='text[8][value]')

			.form_title!= __('Доступ к компьютеру <div>(да/нет)</div>')
			input.form_name(type='hidden', name='text[9][name]', value='Доступ к компьютеру')
			input.form_value(type='text', name='text[9][value]')

			.form_title!= __('Доступ к по для монтажа <div>(да/нет)</div>')
			input.form_name(type='hidden', name='text[10][name]', value='Доступ к по для монтажа')
			input.form_value(type='text', name='text[10][value]')

			.form_title!= __('Если вы хотите рассказать о себе что-то дополнительно, используйте, пожалуйста, это поле <div>(Например: этническая принадлежность, гендер, сексуальная ориентация, особенности здоровья или другое. Но если вам некомфортно делиться этой информацией, это вовсе не обязательно.)</div>')
			input.form_name(type='hidden', name='text[11][name]', value='Если вы хотите рассказать о себе что-то дополнительно, используйте, пожалуйста, это поле')
			textarea.form_value(name='text[11][value]')


			.form_section= __('Раздел') + ' II'


			.form_title!= __('Почему вам интересно принять участие в программе?')
			input.form_name(type='hidden', name='text[12][name]', value='Почему вам интересно принять участие в программе?')
			textarea.form_value(name='text[12][value]')

			.form_title!= __('Какие у вас ожидания от программы?')
			input.form_name(type='hidden', name='text[13][name]', value='Какие у вас ожидания от программы?')
			textarea.form_value(name='text[13][value]')


			.form_title!= __('Расскажите о последнем понравившемся вам фильме/видео. почему эта работа показалась вам интересной?')
			input.form_name(type='hidden', name='text[14][name]', value='Расскажите о последнем понравившемся вам фильме/видео. почему эта работа показалась вам интересной?')
			textarea.form_value(name='text[14][value]')


			.form_title!= __('Художники/режиссеры, творчество которых вам интересно и почему?')
			input.form_name(type='hidden', name='text[15][name]', value='Художники/режиссеры, творчество которых вам интересно и почему?')
			textarea.form_value(name='text[15][value]')

			.form_title!= __('С какими темами вам интересно работать как автору? укажите две-три темы, снабдите каждую комментарием, почему вы считаете их важными.')
			input.form_name(type='hidden', name='text[16][name]', value='С какими темами вам интересно работать как автору? укажите две-три темы, снабдите каждую комментарием, почему вы считаете их важными.')
			textarea.form_value(name='text[16][value]')


			.form_section= __('Раздел') + ' III'


			.form_title!= __('КОРОТКИЙ РАССКАЗ О СЕБЕ <div>(не более 1 страницы)</div>')
			input.form_name(type='hidden', name='text[17][name]', value='Короткий рассказ о себе')
			textarea.form_value(name='text[17][value]')

			.form_title!= __('Портфолио <div>(PDF не более 5 работ, шоурилы не принимаются)</div>')
			input.form_value.file(type='file', name='portfolio', accept='application/pdf')

			.form_title!= __('CV <div>(в формате PDF не больше двух страниц)</div>')
			input.form_value.file(type='file', name='cv', accept='application/pdf')


			//- Submit

			.form_submit
				.submit_button= __('Отправить')
				.submit_confirm
					label
						input.confirm_check(type='checkbox')
						!= ' ' + __('Я даю согласие на хранение и обработку персональных данных')


