extends layout

block header_meta
	- var content_title= 'MIEFF | ' + event.i18n.title.get(locale)
	- var content_description = event.i18n.description.get(locale)
	- var content_images = [event.poster]

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['event.css']
	- var include_libs_js = ['swiper.min.js']
	- var include_js = ['event.js']


block content
	.event_main_title= event.i18n.title.get(locale)

	.event_cover.swiper-container
		.swiper-wrapper
			each image in event.images
				.cover_item.swiper-slide(style='background-image: url(' + image.thumb + ')')
		.swiper-pagination.swiper-pagination-white

	.event_schedule
		each item in event.schedule
			.schedule_item
				.schedule_meta
					.meta_date= moment(item.date).format('DD.MM (hh:mm)')
					.meta_place= item.place.i18n.title.get(locale)
				.schedule_buy(data-link=item.link, data-type=item.free)= item.free == true ? __('Регистрация') : __('Купить билет')

	.event_body
		.event_intro!= event.i18n.intro.get(locale)

		.event_age= __('Возрастное ограничение') + ': ' + event.age + '+'

		if event.video && event.video.provider
			- var provider_path= event.video.provider == 'youtube' ? 'https://www.youtube.com/embed/' : 'https://player.vimeo.com/video/'
			.event_video: .video_inner: iframe.video(src=provider_path + event.video.id, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

		.event_description!= event.i18n.description.get(locale)

	if event.members && event.members.length
		.event_members
			each group in event.members
				if group.list.length
					.members_group
						if get_locale(group.title, locale) !== ''
							.group_title= get_locale(group.title, locale)
						.group_description: .description_inner= get_locale(group.description, locale)
						.group_list
							each item in group.list
								a.list_item(href='/members/' + item._short_id)
									.item_photo(style='background-image: url(' + item.photo + ')')
									.item_name= get_locale(item.name, locale)
									.item_roles
										each role in item.roles
											.item_role= __n(static_types.members_roles[role][item.sex], 1)

	if event.partners && event.partners.length
		.event_partners
			.partners_title= __('партнеры')
			.partners_list
				each partner in event.partners
					a.partner_item(href=partner.link, target='_blank')
						img.partner_logo(src=partner.logo)
						.partner_type= __(partner.type)

	if event.events && event.events.length
		.event_events
			each event_item in event.events
				a.event_item(href='/events/' + (event_item.sym ? event_item.sym : event_item._short_id))
					img.event_poster(src=event_item.poster)
					.event_title= event_item.i18n.title.get(locale)

	if blocks && blocks.length
		.event_also_blocks
			.blocks_title= event.program.i18n.title.get(locale)
			.blocks_items
				each block in blocks
					a.block_item(href='/events/' + (block.sym ? block.sym : block._short_id)): span= block.i18n.title.get(locale)

	if programs && programs.length
		.event_also_programs
			.programs_title= __('смотрите так же')
			.programs_items
				each program in programs
					a.program_item(href='/program/' + (program.sym ? program.sym : program._short_id)): span= program.i18n.title.get(locale)


