extends layout

block header_meta
	- var content_title= __('MIEFF')
	- var content_description= __('Московский международный фестиваль экспериментального кино MIEFF')
	- var content_images = ['/stuff/mieff/og.png']

block header_include
	//- - var include_libs_css = ['']
	- var include_css = ['main.css']
	- var include_libs_js = ['macy.js']
	- var include_js = ['main.js']


block content
	.widget_block: .widget_inner

	.video_block
		a(href='/opencall'): video(autoplay=true, loop=true, muted=true, playsinline=true, controls=false, poster='/stuff/mieff/main.png', src='')

	if posts && posts.length > 0
		.news_block
			.news_title= __('Новости')
			.news_posts
				include _posts.pug
			if posts.length >= 4
				.news_more: a(href='/news')= __('Еще') + ' ' + __('Новости').toLowerCase() + '...'

	.program_block
		.program_title= __('Программа')

		.program_nanv

			.nav_column.date
				.nav_head
					.nav_title= __('Дата')
					.nav_all= __('Все')
				.nav_items
					each date in dates
						- var date = moment(date.year + '-' + date.month + '-' + date.day, 'YY-MM-DD')
						.nav_item(data-val=date.format('YY-MM-DD'))= date.format('DD.MM')

			.nav_column.place
				.nav_head
					.nav_title= __('Площадка')
					.nav_all= __('Все')
				.nav_items
					each place in places
						.nav_item(data-val=place._id.toString())= place.i18n.title.get(locale)

			.nav_column.program
				.nav_head
					.nav_title= __('Программа')
					.nav_all= __('Все')
				.nav_items
					each program in programs
						.nav_item(data-val=program._id.toString())= program.i18n.title.get(locale)

			.nav_column.type
				.nav_head
					.nav_title= __('Тип')
					.nav_all= __('Все')
				.nav_items
					each type_item in static_types.events_types
						.nav_item(data-val=type_item)= __(type_item)

		.program_events

