extends layout

block header_meta
	- var content_title= __('mieff')
	- var content_description= ''
	- var content_images = ''

block header_include
	//- - var include_libs_css = ['']
	- var include_css = ['main.css']
	- var include_libs_js = ['macy.js']
	- var include_js = ['main.js']


block content
	.video_block
		img(src='/stuff/mieff/logo/mieff.svg')

	.news_block

	.program_block
		.program_title= __('Программа')

		.program_nanv
			.nav_column.date
				.nav_item.all All
				each date in dates
					.nav_item= moment(date).format('DD.MM')
			.nav_column.program
				.nav_item.all All
				each program in programs
					.nav_item(class=program._id)= program.i18n.title.get(locale)
			.nav_column.type
				.nav_item.all All
				each type_item in static_types.events_types
					.nav_item(class=type_item)= __(type_item)
			.nav_column.place
				.nav_item.all All
				each place in places
					.nav_item(class=place._id)= place.i18n.title.get(locale)

		.program_events

			each event in events
				.event_item
					.event_cover
						img.cover_image(src=event.poster)
						.cover_buy= event.schedule.free == true ? __('Регистрация') : __('Купить билет')
					.event_schedule
						.schedule_date=moment(event.schedule.date).format('DD.MM (hh:mm)')
						.schedule_place= event.schedule.place.i18n.title.get(locale)
					.event_program=event.program.i18n.title.get(locale)
					.event_title= get_locale(event.title, locale)
