doctype html
html(lang=locale)
	head
		include header
		if node_env == 'production'
			include counters
	body
		.maket_block
			.title_block
				a.logo_block(href='/'): img(src='/stuff/mieff/logo/main.svg')

				.menu_block
					if (session && session.user_id)
						a(href='/admin') Stargazer
					a(href='/news')= __('Новости')
					//- a(href='https://filmfreeway.com/moscowieff', target='_blank')= __('Подать заявку')
					a(href='/opencall')= __('Внеклассные практики')
					a(href='/#schedule')= __('Расписание')
					a(href='/program')= __('Программа')
					a(href='/about')= __('О Фестивале')
					a(href='/partners')= __('Партнеры')
					a(href= (locale == 'ru' ? 'http://archive.mieff.com' : 'http://en.archive.mieff.com'), target='_blank')= __('Архив')
					//- a(href='https://money.yandex.ru/to/4100112187266456', target='_blank')= __('Поддержите MIEFF')

				.menu_drop
					each span in new Array(4)
						span

				.locale_block
					if (locale == 'ru')
						a(href='/lang/en') En
					else
						a(href='/lang/ru') Ru

				.bw_block= (locale == 'ru') ? 'ч/б' : 'b/w'

			.widget_block: .widget_inner

			.content_block
				block content

			.footer_block
				//- .support_block: a(href='https://money.yandex.ru/to/4100112187266456', target='_blank')= __('Поддержите MIEFF')

				.mailing_block
					.mailing_title= __('Новостная рассылка')
					.mailing_desc!= __('Подпишитесь на новостную рассылку и&nbsp;узнайте первым о всех событиях фестиваля.')
					.mailing_form
						form(action='https://mieff.us17.list-manage.com/subscribe/post?u=e5ac9856cd890e09b4e214766&amp;id=9a672937fd' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate)
							input.email(type='email' name='EMAIL' placeholder='e-mail' required)
							input(type='hidden' name='b_e5ac9856cd890e09b4e214766_9a672937fd' tabindex='-1')
							input.submit(type='submit' value=__('подписаться') name='subscribe')

				.partners_block
					.partners_types
						if special_partners
							each p_type in special_partners.types
								.partner_type
									.type_title= __n(p_type.type, p_type.partners.length == 1 ? 1 : 5)
									.type_list: .list_inner
										each partner in p_type.partners
											a.partner_item(href=partner.link, target='_blank', rel='nofollow')
												.partner_logo(style='background-image: url(' + partner.logo + ')')

				.social_links_block
					a(href='https://www.facebook.com/MIEFFESTIVAL', target='_blank') Facebook
					a(href='https://www.instagram.com/mieff_festival/?hl=ru', target='_blank') Instagram
					a(href='https://vk.com/mieff', target='_blank') VKontakte
					a(href='https://t.me/mieffestival', target='_blank') Telegram
					a(href='https://www.youtube.com/channel/UChkh9UIV7qqoS45sevM1-Xg', target='_blank') Youtube
					a(href='mailto:info@mieff.com', target='_blank') Email

