doctype html
html
	head
		include header
	body
		.maket_block

			.search_block
				.search_close
				input.search_input(type='text', placeholder= __('поиск') + '...')
				.search_results

			if content_subs
				.subs_block
					.subs_close
					input.subs_input.email(type='email', placeholder='email')
					input.subs_input.name(type='text', placeholder=__('ваше имя'))
					.subs_date
						input.subs_input.date.dd(type='text', placeholder=__('день'), pattern='[0-9]*')
						input.subs_input.date.mm(type='text', placeholder=__('месяц'), pattern='[0-9]*')
						input.subs_input.date.yy(type='text', placeholder=__('год'), pattern='[0-9]*')
					.subs_controls
						.subs_submit.active(send_await=__('ждем ответа...'), send_input=__('отправить'))= __('отправить')
						.subs_status(val_email=__('некорректный email'), val_ok=__('спасибо за подписку'), val_else=__('ошибка'))
						.subs_personal
							span=__('Отправляя форму, вы даете свое согласие на обработку персональных данных. ')
							a(href='/ppa_' + locale + '.pdf', target='_blank')= __('Подробнее...')

			.title_block

			.content_block
				block content

			.footer_block
