extends layout

block header_meta
	- var content_title= 'MIEFF | ' + __('Внеклассные практики')
	- var content_description= __('MIEFF приглашает молодых фильммейкерок/ов и видеохудожниц/ков принять участие в лаборатории «Внеклассные практики»')
	- var content_images = ['/stuff/mieff/og_call.png']

block header_include
	//- - var include_libs_css = []
	- var include_css = ['opencall.css']
	//- - var include_libs_js = []
	//- - var include_js = ['opencall.js']


block content
	.opencall_main_title= __('Внеклассные практики')

	if complete
		.opencall_complete
			.complete_title= __('Ваша заявка принята!')
			.complete_text
				img.text_logo(src='/stuff/mieff/logo/main_black.svg')
				.text_inner= __('Результаты отбора и имена участников будут объявлены 23 июля 2021 г.')
	else
		.opencall_description: .description_inner!= desc

		.opencall_application: a.application_button(href='/opencall/application')= __('Заполнить анкету')

		if members && members.length > 0
			.opencall_team
				.team_title= __('Преподаватели')
				.team_members: .members_inner
					each member in members
						a.member_item(href='/members/' + member._short_id)
							.member_photo(style='background-image: url(' + member.photo + ')')
							.member_title= member.i18n.name.get(locale)