extends layout

block header_meta
	- var content_title= 'MIEFF | ' + post_item.i18n.title.get(locale)
	- var content_description = ''
	- var content_images = [post_item.poster]

block header_include
	- var include_css = ['post.css']
	- var include_js = ['post.js']


block content
	.post_main_title= post_item.i18n.title.get(locale)
	.post_main_date= moment(post_item.date).locale(locale).format('DD.MM.YYYY')
	if post_item.cover
		.post_cover(style='background-image: url(' + post_item.cover + ')')
	.post_body
		.post_description!= post_item.i18n.description.get(locale)
		.post_share
			.share_title= __('Поделиться')
			.share_buttons
				img.s_button(social='fb', src='/stuff/mieff/social/facebook.svg')
				img.s_button(social='twitter', src='/stuff/mieff/social/twitter.svg')
				img.s_button(social='vk', src='/stuff/mieff/social/vk.svg')

	if summary && summary.length > 0
		.post_summary
			.summary_title= __('Еще') + ' ' + __('Новости')
			.summary_posts
				each post, i in summary
					a.post_item(href='/news/' + (post.sym ? post.sym : post._short_id)): .post_inner
						if post.poster
							.post_poster(style='background-image: url(' + post.poster + ')')
						else
							.post_title= get_locale(post.title, locale)
						.post_desc
							.post_date= moment(post.date).locale(locale).format('DD.MM.YYYY')
							.post_s_title= get_locale(post.s_title, locale)