extends layout

block header_meta
	- var content_title= 'MIEFF'
	- var content_description= ''

block header_include
	//- - var include_libs_css = []
	- var include_css = ['program.css']
	- var include_libs_js = ['macy.js']
	- var include_js = ['program.js']


block content
	.widget_block: .widget_inner

	.program_main_title(id=program._id)= program.i18n.title.get(locale)

	.program_cover(style='background-image: url(' + program.cover + ')')

	.program_description: .description_inner!= program.i18n.description.get(locale)

	if blocks && blocks.length
		.program_also_blocks
			each block in blocks
				a.block_item(href='/events/' + (block.sym ? block.sym : block._short_id)): span= block.i18n.title.get(locale)

	.program_body
		.program_nanv

			.nav_column.date
				.nav_all= __('Все')
				.nav_items
					each date in dates
						- var date = moment(date.year + '-' + date.month + '-' + date.day, 'YY-MM-DD')
						.nav_item(data-val=date.format('YY-MM-DD'))= date.format('DD.MM')

			.nav_column.place
				.nav_all= __('Все')
				.nav_items
					each place in places
						.nav_item(data-val=place._id.toString())= place.i18n.title.get(locale)

			.nav_column.type
				.nav_all= __('Все')
				.nav_items
					each type_item in static_types.events_types
						.nav_item(data-val=type_item)= __(type_item)

		.program_events

	if programs && programs.length
		.program_also_programs
			.programs_title= __('смотрите так же')
			.programs_items
				each program in programs
					a.program_item(href='/program/' + (program.sym ? program.sym : program._short_id)): span= program.i18n.title.get(locale)

