.list_items
	each application in applications
		.list_item
			a.item_rm.application(href='#', id=application._id) -- удалить
			- var date = new Date(application.date)
			- var f_date = ('0' + date.getDate()).slice(-2) + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + date.getFullYear()
			a.item_title(href='/admin/applications/edit/' + application._id, class=application.status)= f_date
			span= ' - ' + application.text[0]['value']

.list_counter
	a.list_back(href='#'): b назад
	span= ' - '
	select.list_select
		- var i = 0;
		while i < count
			option(value=i selected= (i == skip / 10) )= i+1
			- i++
	span= ' - '
	a.list_next(href='#'): b вперед
