extends layout

block header_meta
	- var content_title= 'РЕДАКТИРОВАТЬ CV'

block header_include
	- var include_libs_css = ['font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['wysiwyg.min.js', 'wysiwyg-editor.min.js']
	- var include_js = ['editor.js', 'add.js']

block sub_menu
	a.sub_item.back_link(href='/admin') Назад
	span.sub_item.toggle_eng Перевод
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Сохранить')

block content
	.form_block
		.title= content_title
		form(action='', method='post', enctype="multipart/form-data")
			.form_title OG изображение:
			input(type='file', name='og_image', accept='image/jpeg')
			.form_title Баннер изображение:
			input(type='file', name='main_banner_image', accept='image/jpeg')
			.form_title Баннер ссылка:
			input(type='text', name='main_banner_link', value= content.main_banner_link)
			.form_title Анонс:
			input.ru(type='text', name='main_text[ru]', value= content.main_text_ru)
			input.en(type='text', name='main_text[en]', value= content.main_text_en)
			.form_title О фестивале:
			.content
				textarea.ru.editor(name='about[ru]')= content.about_ru
				textarea.en.editor(name='about[en]')= content.about_en

			.form_title Open Call практики (вступление):
			.content(style='overflow: hidden;')
				textarea.ru.editor(name='opencall_desc[ru]')= content.opencall_desc_ru
				textarea.en.editor(name='opencall_desc[en]')= content.opencall_desc_en

			.form_title Open Call (требования к участнику):
			.content
				textarea.ru.editor(name='opencall_intro[ru]')= content.opencall_intro_ru
				textarea.en.editor(name='opencall_intro[en]')= content.opencall_intro_en